:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px; */
  width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 1rem;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

input{
  padding: 0.5rem;
  width: 20rem;
  height: 0.9rem;
}

.signinform{
  border: 2px solid rgb(212, 193, 193);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 40vw;
  padding: 1rem;
  margin: 0 auto;
    margin-bottom: 0.4rem;
}

.problemsList{
  border: 1px solid rgb(212, 193, 193);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: ; */
  width: 90vw;
  padding: 0.4rem;
}

.problem{
  border-bottom: 2px solid white;
  padding: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.newqform{
  height: 80vh;
  width: 90vw;
}

.output{
  border: 2px solid rgba(255, 255, 255, 0.87);
  width: 80vw ;
  min-height: fit-content;
  padding: 1rem;
  margin: 1rem;

}
/* ----- */

.logo {
  height: 2em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  /* border: 2px solid red; */
  animation: logo-spin 3s ease-in-out 1s  3 ;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
  will-change: filter;
  transition: filter 300ms;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.icon{
  width: fit-content;
  margin-top: -4rem;
    position: absolute;
}

img{
  width: 3rem;
  height: 2rem;
}


/* footer */

.footer{
  border: 2px solid rgba(58, 57, 57, 0.87);
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.footercontent{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.home{
  margin-top: 1rem;
}

.FullProblemPage{
  display: flex;
  gap: 1rem;
  /* justify-content: space-between;
   */

  gap: 1.5rem;


}

.problemDetails{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} 

.codePart{
  width: 60%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 50vh; */
}

.output{
  min-width: 60%;
  width: 90%;

}

.textarea{
  padding: 1rem;
}